<ng-container *ngFor="let usuario of usuarios; let i = index">

    <div *ngIf="usuario.email === auth.currentUser?.email" class="container-detalles">
        <div *ngIf="usuario.rol === 'especialista'">
            <p appRolColor="{{ usuario.rol }}">Detalle Especialista</p>
            <div class="containerfoto">
                <img class="foto" src="{{usuario.imagenPerfil1}}" alt="{{usuario.email}}" appZoomFotos>
            </div>
            <p appRolColor="{{ usuario.rol }}"><strong>Nombre Apellido:</strong> {{ usuario.nombre | tituloMedico}} {{ usuario.apellido }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>Edad:</strong> {{ usuario.edad }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>DNI:</strong> {{ usuario.dni }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>Especialidad:</strong> {{ usuario.especialidad }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>Habilitado:</strong> {{ usuario.habilitado | habilitado }}</p>
            
        </div>
        <div *ngIf="usuario.rol === 'paciente'">
            <p appRolColor="{{ usuario.rol }}">Detalle Paciente</p>
            <div class="containerfoto">
                <img class="foto" src="{{usuario.imagenPerfil1}}" alt="{{usuario.email}}" appZoomFotos>
                <img class="foto" src="{{usuario.imagenPerfil2}}" alt="{{usuario.email}}" appZoomFotos>
            </div>
            <p appRolColor="{{ usuario.rol }}"><strong>Nombre Apellido:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>Edad:</strong> {{ usuario.edad }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>DNI:</strong> {{ usuario.dni }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>Obra Social:</strong> {{ usuario.obraSocial }}</p>

            
        
        </div>
        
        <div *ngIf="usuario.rol === 'admin'">
            <p appRolColor="{{ usuario.rol }}">Detalle Admin</p>
            <div class="containerfoto">
                <img class="foto" src="{{usuario.imagenPerfil1}}" alt="{{usuario.email}}" appZoomFotos >
            </div>
            <p appRolColor="{{ usuario.rol }}"><strong>Nombre Apellido:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>Edad:</strong> {{ usuario.edad }}</p>
            <p appRolColor="{{ usuario.rol }}"><strong>DNI:</strong> {{ usuario.dni }}</p>
        </div>

        <!-- REGISTRO AGENDA -->
        <div *ngIf="usuario.rol === 'especialista'">
            <mat-card  appearance="outlined">      
                <mat-card-content>
                    <app-registro-agenda [usuario]="usuario"></app-registro-agenda>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- HISTORIA CLINICA -->
        <div *ngIf="usuario.rol === 'paciente'">
            <mat-card appearance="outlined" class="carta-detalle">
              <mat-card-content>
                <app-lista-atenciones-anteriores [usuario]="usuario"></app-lista-atenciones-anteriores>
              </mat-card-content>        
            </mat-card>
        </div>
        
    </div>
</ng-container>