<div *ngIf="turno">
    <p><strong>Nombre Apellido paciente:</strong> {{ turno.pacienteNombre  }} {{ turno.pacienteApellido }}</p>
    <p><strong>Nombre Apellido especialista:</strong> {{ turno.especialistaNombre  }} {{ turno.especialistaApellido }}</p>
    <p><strong>Especialidad:</strong> {{ turno.tipoAtencion}} en {{turno.sectorAtencion}}</p>
    <p><strong>Fecha Turno:</strong> {{ formatearFecha(turno.fecha)}} a las {{turno.horario.hora}}:{{turno.horario.minutos}}</p>
    <p><strong>Estado:</strong> {{ turno.estado}}</p>
    
    <ng-container *ngIf="!isLoading">
    <div class="container">
        <mat-card-title> <strong>Historia Clínica Paciente</strong> </mat-card-title>
        
        <table mat-list class="lista-detalle">
            <ng-container *ngFor="let atencion of atencionesAnteriores">
                <mat-list-item>
                    <span matListItemLine><strong>{{ atencion.fecha.toDate() | date }}</strong></span>
                    <br>     
                    <span > {{ atencion.altura }} cm - {{ atencion.peso }} kg</span>
                    <br>     
                    <span > {{ atencion.temperatura }} °C - {{ atencion.presion }}</span>
                    <br>     
                    <ng-container *ngFor="let datoDinamico of atencion.datosDinamicos">
                        <mat-list-item>
                            <span matListItemLine>{{ datoDinamico.clave }}: {{ datoDinamico.valor }} </span>
                            <br>       
                        </mat-list-item>
                    </ng-container>  
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </table>
    </div>
    </ng-container>

    <ng-container *ngIf="isLoading">
        <p>Cargando Historia Clinica...</p>
      </ng-container>
    
    <div class="container-detalles">
        
        <div class="container-detalles">
            <button mat-raised-button *ngIf="turno.estado !== 'Realizado'" (click)="cancelarTurno()">
                <span class="material-symbols-outlined">cancel</span>
                Cancelar Turno
            </button>
        </div>

        <div class="container-detalles">
            <button mat-raised-button *ngIf="turno.comentario && turno.comentario.length > 0" (click)="verComentario()">
                <span class="material-symbols-outlined">preview</span>
                Ver Comentario
            </button>
        </div>

        <div class="container-detalles">
            <button mat-raised-button *ngIf="turno.calificacion && turno.calificacion.length > 0" (click)="verCalificacion()">
                <span class="material-symbols-outlined">star</span>
                Ver Calificacion
            </button>
        </div>
    </div>

    <div *ngIf="turno.estado === 'Realizado'">
        <div class="container">
            <mat-form-field class="example-full-width">
                <mat-label>Calificar la atencion...</mat-label>
                <textarea matInput [(ngModel)]="calificacion"></textarea>        
            </mat-form-field>
            <button mat-flat-button (click)="guardarCalificacion()">
                <span class="material-symbols-outlined">save</span>
                Guardar Calificacion
            </button>
        </div>
    </div>
</div>
