<div class="container">
    <div class="containerfoto">
      <img class="foto" src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/caja-medica.png?alt=media&token=9c361eec-8241-4526-8c00-dbbdcc4dbe8c" alt="logo" >
    </div>
    <h2>CLÍNICA MÉDICA</h2> 
  </div>
  
  <div class="container">

    <mat-card class="carta" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <span class="material-symbols-outlined">person_play</span>
          </mat-card-title>
          <mat-card-subtitle>Clinica Médica</mat-card-subtitle>
         </mat-card-title-group>
        </mat-card-header>   
        
        <mat-card-content>
            <p>La Clinica Médica es una asociación civil sin fines de lucro dedicada al cuidado integral de la salud.</p>
        </mat-card-content>
            <mat-card-footer>
            </mat-card-footer>
        </mat-card>
        <div class="container-detalle"> 
            <button mat-flat-button color="primary" routerLink="/login" routerLinkActive="active-route" class="boton">
                <span class="material-symbols-outlined">login</span>
                INICIAR SESION
            </button>        
            <button mat-flat-button color="primary" routerLink="/registro" routerLinkActive="active-route" class="boton">
                <span class="material-symbols-outlined">id_card</span>
                REGISTRARSE
            </button>
        </div>
    </div>