<div class="container">
    <h2>SOLICITAR TURNOS</h2>
  </div>
  <div class="container">
    
    <div class="container">

        <div class="container">
            <h3>Selecciona un especialista</h3>
            <div class="especialistas-grid">
              <button *ngFor="let especialista of especialistas" class="especialista-boton" (click)="seleccionarEspecialista(especialista)" [class.selected]="especialistaActual === especialista" appHoverZoom>
                <img [src]="especialista.imagenPerfil1" alt="Imagen especialista" class="especialista-imagen">
                <strong>{{ especialista.apellido }} {{ especialista.nombre }}</strong>
              </button>
            </div>
          </div>
          
          <div *ngIf="especialistaActual" class="container">
            <h3>Selecciona una especialidad</h3>
            <div class="agendas-grid">
              <button *ngFor="let agenda of agendas" class="agenda-boton" (click)="seleccionarAgenda(agenda)" [class.selected]="agendaActual === agenda" appHoverZoom>
                <img [src]="agenda.imagen" alt="Imagen especialidad" class="agenda-imagen">
                <div class="agenda-detalle">
                  <p>{{ agenda.tipoAtencion }}</p>
                  <p>{{ agenda.sector }}</p>
                </div>
              </button>
            </div>
          </div>


        <ng-container *ngIf="rolUsuarioActual === 'admin'">
            <mat-form-field appearance="fill" class="form-encuesta">
                <mat-label>Paciente para asignar turnos</mat-label> 
                <mat-select class="form-control" [(ngModel)]="pacienteActual" (selectionChange)="onPacienteSeleccionado()">
                    <mat-option *ngFor="let paciente of pacientes" [value]="paciente">{{ paciente.apellido }} / {{ paciente.nombre }}</mat-option>                        
                </mat-select>
            </mat-form-field>
        </ng-container>
    </div>
    
    <ng-container *ngIf="pacienteActual">
        <div class="container">
            <p>Turno para paciente: {{pacienteActual.apellido}} {{pacienteActual.nombre}}</p>
        </div>
    </ng-container>

    <div class="container">        
        <ng-container *ngIf="agendaActual">
            <table>
                <thead>
                    <tr>
                        <th>TURNOS</th>
                        <th *ngFor="let fecha of fechasDisponible" class="cuadrado-turno"> 
                            {{ fecha | date: 'EEEE' }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let espacio of espaciosDisponibles; let i=index" class="cuadrado-turno">
                        <td>{{i+1}}</td>
                        <td *ngFor="let fecha of fechasDisponible"
                            [ngClass]="{ 'disponible': estaDisponible(fecha, espacio, especialistaActual.email), 'seleccionado': estaSeleccionado(fecha, espacio) }"
                            (click)="onClickEspacio(fecha, espacio)" appHoverZoom>
                            <span>
                                {{ fecha | date: 'yyyy/MM/dd' }} {{ calcularHoraCompleta(espacio) | date: 'hh:mm a' }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>  
        <button mat-flat-button (click)="confirmarTurno()" class="boton" [disabled]="!turnoSeleccionado">
            <span class="material-symbols-outlined">send</span>
            CONFIRMAR
        </button> 
    </div>
    

