

 <div class="container">
  <h2>USUARIO</h2>
</div>

<div class="container">
  <div class="container-detalles">

    <div class="lista-usuarios-con-scroll">
      <h3>Lista usuarios</h3>
      <div class="tarjetas-usuarios">
        <mat-card *ngFor="let usuario of usuarios; let i = index" appearance="outlined" class="tarjeta-usuario clickable-card" (click)="seleccionar(usuario)" >
          <mat-card-header>
            <mat-card-title>{{ usuario.nombre }} {{ usuario.apellido }}</mat-card-title>
            <mat-card-subtitle>{{ usuario.email }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p appRolColor="{{ usuario.rol }}">Rol: {{ usuario.rol || 'No especificado' }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <mat-card appearance="outlined" class="carta-detalle">
      <mat-card-header>
        <mat-card-title> <strong>Detalle usuario</strong> </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <app-detalle-usuarios [usuario]="usuarioSeleccionado"></app-detalle-usuarios>
        <app-lista-atenciones-anteriores [usuario]="usuarioSeleccionado"></app-lista-atenciones-anteriores>
      </mat-card-content>
    </mat-card>
    <br />
  </div>
</div>

<div class="container">
  <app-registro></app-registro>
</div>
