<div *ngIf="usuario">
    <div *ngIf="usuario.rol === 'especialista'">
        <p appRolColor="{{ usuario.rol }}">Detalle Especialista</p>
        <div class="containerfoto">
            <img class="foto" src="{{usuario.imagenPerfil1}}" alt="{{usuario.email}}" appZoomFotos>
        </div>
        <p appRolColor="{{ usuario.rol }}"><strong>Nombre Apellido:</strong> {{ usuario.nombre | tituloMedico}} {{ usuario.apellido }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>Edad:</strong> {{ usuario.edad }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>DNI:</strong> {{ usuario.dni }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>Especialidad:</strong> {{ usuario.especialidad }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>Habilitado:</strong>           
            <mat-checkbox [(ngModel)]="usuario.habilitado" (change)="onHabilitadoChange()"></mat-checkbox>
            {{ usuario.habilitado | habilitado }}
        </p>
        
    </div>
    <div *ngIf="usuario.rol === 'paciente'">
        <p appRolColor="{{ usuario.rol }}">Detalle Paciente</p>
        <div class="containerfoto">
            <img class="foto" src="{{usuario.imagenPerfil1}}" alt="{{usuario.email}}" appZoomFotos>
            <img class="foto" src="{{usuario.imagenPerfil2}}" alt="{{usuario.email}}" appZoomFotos>
        </div>
        <p appRolColor="{{ usuario.rol }}"><strong>Nombre Apellido:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>Edad:</strong> {{ usuario.edad }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>DNI:</strong> {{ usuario.dni }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>Obra Social:</strong> {{ usuario.obraSocial }}</p>

        <br>

        <mat-card-title> <strong>Turnos</strong> </mat-card-title>
        <ng-container *ngFor="let turno of turnosUsuario; let i = index">
            <mat-list-item>
              <p appRolColor="{{ usuario.rol }}"><strong>Fecha: </strong>{{ fechaFormato.formatearFecha(turno.fecha)}} | {{turno.horario.hora}}:{{turno.horario.minutos}} </p>
              
              <p appRolColor="{{ usuario.rol }}"><strong>Estado: </strong>{{ turno.estado}} </p>

              <p *ngIf="turno.comentario"><em>Comentario Médico: </em>{{ turno.comentario}} </p>
              
              <p *ngIf="turno.calificacionAtencion"><em>Reseña Paciente: </em>{{ turno.calificacionAtencion}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <br>
    </div>
    <div *ngIf="usuario.rol === 'admin'">
        <p appRolColor="{{ usuario.rol }}">Detalle Admin</p>
        <div class="containerfoto">
            <img class="foto" src="{{usuario.imagenPerfil1}}" alt="{{usuario.email}}" appZoomFotos>
        </div>
        <p appRolColor="{{ usuario.rol }}"><strong>Nombre Apellido:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>Edad:</strong> {{ usuario.edad }}</p>
        <p appRolColor="{{ usuario.rol }}"><strong>DNI:</strong> {{ usuario.dni }}</p>
    </div>
</div>