@if(isLoading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<ng-container *ngIf="auth.currentUser">        
    
    <mat-toolbar>
        <div class="container-detalles">
            <span class="material-symbols-outlined">calendar_add_on</span>
            <button mat-button [matMenuTriggerFor]="menu" class="boton">ADMIN</button>
            <mat-menu #menu="matMenu">                    
                <button mat-button routerLink="/turnos" routerLinkActive="active-route" class="boton">
                    <div class="container-detalles">
                        <span class="material-symbols-outlined">healing</span>
                        TURNOS
                    </div>
                </button>
                <button mat-button routerLink="/usuarios" routerLinkActive="active-route" class="boton">
                    <div class="container-detalles">
                        <span class="material-symbols-outlined">patient_list</span>
                        USUARIOS
                    </div>
                </button>
                <button mat-button routerLink="/estadisticas" routerLinkActive="active-route" class="boton">
                    <div class="container-detalles">
                        <span class="material-symbols-outlined">analytics</span>
                        ESTADISTICAS
                    </div>
                </button>
            </mat-menu>
        </div> 
        <div class="container-detalles">
            

            <ng-container *ngIf="auth.currentUser">     
                   
                <button mat-flat-button color="primary" (click)="logout.CerrarSesion('/bienvenida')" class="boton">
                    <div class="container-detalles">
                        <span class="material-symbols-outlined">logout</span>
                        CERRAR SESIÓN
                    </div>
                </button>
            </ng-container>
            <ng-container *ngIf="!auth.currentUser">        
                <button mat-flat-button color="primary" routerLink="/home" routerLinkActive="active-route" class="boton">
                    <span class="material-symbols-outlined">login</span>
                    INICIAR SESION
                </button>
            </ng-container>  
            <sub>{{auth.currentUser!.email}}</sub>    
        </div>
        
        <span class="spacer"></span>
        
        
        
        <ng-container *ngIf="auth.currentUser">        

            
            <button mat-button routerLink="/miPerfil" routerLinkActive="active-route" class="boton">
                <div class="container-detalles">
                    <span class="material-symbols-outlined">personal_injury</span>
                    MI PERFIL
                </div>
            </button>

            <button mat-button routerLink="/pacientes" routerLinkActive="active-route" class="boton">
                <div class="container-detalles">
                    <span class="material-symbols-outlined">ward</span>
                    PACIENTES
                </div>
            </button>

            <div class="container-detalles">
                <span class="material-symbols-outlined">calendar_add_on</span>
                <button mat-button [matMenuTriggerFor]="menu" class="boton">TURNOS</button>
                <mat-menu #menu="matMenu">                    
                    <button mat-button routerLink="/misTurnos" routerLinkActive="active-route" class="boton">
                        <div class="container-detalles">
                            <span class="material-symbols-outlined">healing</span>
                            MIS TURNOS
                        </div>
                    </button>
                    <button mat-button routerLink="/solicitarTurnos" routerLinkActive="active-route" class="boton">
                        <div class="container-detalles">
                            <span class="material-symbols-outlined">emergency</span>
                            SOLICITAR TURNO
                        </div>
                    </button>
                </mat-menu>
            </div>

        </ng-container>
    </mat-toolbar>
</ng-container>


<div class="main-layout">
    <!-- Animación del contenido principal -->
    <div class="container-app" [@routeAnimations]="getRouteAnimationData()">
      <mat-card class="carta-router" appearance="outlined">      
        <mat-card-content>
          <router-outlet></router-outlet>        
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- Sidenav inferior -->
    <mat-sidenav-container class="sidenav-container">
      <div class="main-content">        
        <h3>Información de Contacto</h3>
        <p>Teléfono: +123456789</p>
        <p>Email: .com</p>
      </div>
    </mat-sidenav-container>
  </div>
  
        

