

   <div class="container-detalles">

    <button [matMenuTriggerFor]="menuPacientes" class="custom-fab">
        <span class="material-symbols-outlined">add</span>
    </button>
  
    <mat-menu #menuPacientes="matMenu">
      <div *ngFor="let paciente of pacientesFiltrados" class="menu-item-paciente">
        <button mat-menu-item (click)="seleccionar(paciente)">
          <img mat-icon-button [src]="paciente.imagenPerfil1" alt="{{ paciente.nombre }}" class="paciente-imagen" appZoomFotos>
          <span>{{ paciente.nombre }} {{ paciente.apellido }}</span>
        </button>
      </div>
    </mat-menu>
  
    <mat-card appearance="outlined" class="carta-detalle">
      <mat-card-header>
        <mat-card-title> <strong>Detalle paciente</strong> </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-detalle-usuarios [usuario]="pacienteSeleccionado"></app-detalle-usuarios>
        <ng-container *ngIf="mostrarListaAtenciones">
          <app-lista-atenciones-anteriores [paciente]="pacienteSeleccionado" (historiasPrevias)="actualizarMostrarLista($event)"></app-lista-atenciones-anteriores>
        </ng-container>
      </mat-card-content>
    </mat-card>
  
  </div>
  