<ng-container *ngIf="!isLoading">

    <div class="container">
        <p><strong>
            Historia Clinica Paciente
        </strong></p>
        
        <table mat-list class="lista-detalle">
            <ng-container *ngFor="let atencion of atencionesAnteriores">
                <mat-list-item>
                    <span matListItemLine>{{ atencion.fecha.toDate() | date }} - {{ atencion.altura }} cm - {{ atencion.peso }} kg</span>       
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </table>
    </div>
</ng-container>

<ng-container *ngIf="isLoading">
    <p>Cargando Historia Clinica...</p>
  </ng-container>
  