<ng-container *ngIf="!isLoading">

    <div class="container">
        <mat-card-title> <strong>Historia Clínica Paciente</strong> </mat-card-title>
        <div class="lista-detalle">

            <table mat-list>
                <ng-container *ngFor="let atencion of atencionesAnteriores">
                    <mat-list-item>
                        <span matListItemLine><strong>{{ atencion.fecha.toDate() | date }}</strong></span>
                        <br>     
                        <span > {{ atencion.altura }} cm - {{ atencion.peso }} kg</span>
                        <br>     
                        <span > {{ atencion.temperatura }} °C - {{ atencion.presion }}</span>
                        <br>     
                        <ng-container *ngFor="let datoDinamico of atencion.datosDinamicos">
                            <mat-list-item>
                                <span matListItemLine>{{ datoDinamico.clave }}: {{ datoDinamico.valor }} </span>
                                <br>       
                            </mat-list-item>
                        </ng-container>  
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </table>
        </div>
    </div>

    <div *ngIf="atencionesAnteriores.length > 0">
        <mat-label for="profesionalSelect">Selecciona el profesional:</mat-label>
        <mat-select class="form-control" id="profesionalSelect" #profesionalEmail>
          <mat-option *ngFor="let atencion of atencionesAnteriores | filtro:'especialistaMail' " [value]="atencion.especialistaMail">
            {{ atencion.especialistaApellido }} {{ atencion.especialistaNombre }}
          </mat-option>
        </mat-select>
        <button mat-flat-button color="primary" (click)="descargarHistoriaClinicaPorEspecialista(profesionalEmail.value)">Descargar Historia Clínica</button>
      </div>
      
</ng-container>

<ng-container *ngIf="isLoading">
    <p>Cargando Historia Clinica...</p>
  </ng-container>
  