

<div class="container">
    <h2>BIENVENIDO/A</h2> 
  </div>
  
  <div class="container">

    <mat-card class="carta" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <span class="material-symbols-outlined">person_play</span>
            Info personal
          </mat-card-title>
          <mat-card-subtitle>{{auth.currentUser?.email}}</mat-card-subtitle>
          <div class="containerfoto">
            <img class="foto" src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/caja-medica.png?alt=media&token=9c361eec-8241-4526-8c00-dbbdcc4dbe8c" alt="logo" >
          </div>
        </mat-card-title-group>
      </mat-card-header>      
    </mat-card>
  </div>