

<div class="container">
    <h2>QUIEN SOY</h2> 
  </div>
  
  <div class="container">

    <mat-card class="carta" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <span class="material-symbols-outlined">person_play</span>
            Info personal
          </mat-card-title>
          <mat-card-subtitle>{{usuarioGitHub}}</mat-card-subtitle>
          <div class="containerfoto">
            <img class="foto" src="{{imgUrl}}" alt="Jonathan De Castro" >
          </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{repos}}
      </mat-card-content>
    </mat-card>
  </div>