<div>
    
  
    <div class="container">
      <h2>TURNOS</h2>
    </div>
    <div class="container">
    <div class="container-detalles">

      <mat-card appearance="outlined" class="carta-detalle">

        <mat-form-field>
            <mat-label>Buscar por especialidad</mat-label>
            <input matInput (input)="filtrarTurnos()" [(ngModel)]="filtroEspecialidad" >
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Buscar por especialista</mat-label>
            <input matInput (input)="filtrarTurnos()" [(ngModel)]="filtroEspecialista" >
          </mat-form-field>

        <mat-card-header>
            <mat-card-title> <strong>PACIENTE | ESPECIALISTA | SECTOR</strong> </mat-card-title>
            
        </mat-card-header>
        

        <mat-card-content>
            <table mat-list class="lista-detalle">
              <ng-container *ngFor="let turno of turnosFiltrados; let i = index">
                <mat-list-item>
                  <span matListItemLine>{{ turno.pacienteApellido }} {{ turno.pacienteNombre }} | {{ turno.especialistaApellido }} {{ turno.especialistaNombre }} | {{ turno.sectorAtencion }}</span>
                  <span class="spacer"></span>
                  <button mat-button (click)="seleccionar(turno)" class="btn-detalles">Abrir</button>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </table>
          </mat-card-content>
        
    </mat-card>
    
</div>

</div>

<div class="container">
  <mat-card appearance="outlined" class="carta-detalle">
      <mat-card-header>
          <mat-card-title> <strong>Detalle turno</strong> </mat-card-title>              
      </mat-card-header>
      
      <mat-card-content>
        <app-turnos-admin [turno]="turnoSeleccionado"></app-turnos-admin>
      </mat-card-content>
      
  </mat-card>
</div>

  
  



