
<div class="container">
    <h2>REGISTRAR USUARIO</h2>
</div>
<div style="display: flex; justify-content: center;">
    
    <!-- <mat-form-field appearance="fill">
        <mat-label>Rol de usuario</mat-label> 
        <mat-select [(ngModel)]="rolUsuario">
            <mat-option value="paciente" >Paciente</mat-option>
            <mat-option value="especialista" >Especialista</mat-option>
            <ng-container *ngIf="rolUsuarioActual === 'admin'">     
                <mat-option value="admin">Admin</mat-option>
            </ng-container>

        </mat-select>
    </mat-form-field> -->

    <img src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/doctor.png?alt=media&token=614e0872-66e2-4c1a-a72e-1bcfc982d78e" 
    alt="Registro Especialista" class="boton-icono" (click)="seleccionarRol('especialista')">

    <img src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/paciente.png?alt=media&token=f02551c7-80e2-4f8c-8770-f45b0ae86e76"
    alt="Registro Paciente" class="boton-icono" (click)="seleccionarRol('paciente')">
    
    <ng-container *ngIf="rolUsuarioActual === 'admin'">     
        <img src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/admin.png?alt=media&token=c9e6b650-4841-4367-ba0b-a66d96a95be6" 
        alt="Registro Admin" class="boton-icono" (click)="seleccionarRol('admin')">
    </ng-container>

    
</div>

<div class="container">


        <ng-container *ngIf="rolUsuario === 'especialista'">     
            <app-registro-especialista (especialistaRegistrado)="ObtenerDatosEspecialista($event)"></app-registro-especialista>
        </ng-container>

        <ng-container *ngIf="rolUsuario === 'paciente'">      
            <app-registro-paciente (pacienteRegistrado)="ObtenerDatosPaciente($event)"></app-registro-paciente>
        </ng-container>

        <ng-container *ngIf="rolUsuario === 'admin'">      
            <app-registro-admin (adminRegistrado)="ObtenerDatosAdmin($event)"></app-registro-admin>
        </ng-container>

</div>


    
  

