<mat-card appearance="outlined" class="carta-detalle">

    <mat-form-field>
        <mat-label>Buscar por especialidad</mat-label>
        <input matInput (input)="filtrarTurnosEspecialista()" [(ngModel)]="filtroEspecialidad" >
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Buscar por paciente</mat-label>
        <input matInput (input)="filtrarTurnosEspecialista()" [(ngModel)]="filtroPaciente" >
      </mat-form-field>

    <mat-card-header>
        <mat-card-title> <strong>PACIENTE | ESPECIALISTA | SECTOR</strong> </mat-card-title>
        
    </mat-card-header>
    

    <mat-card-content>
        <table mat-list class="lista-detalle">
          <ng-container *ngFor="let turno of turnosFiltrados; let i = index">
            <mat-list-item>
              <span matListItemLine>{{ turno.pacienteApellido }} {{ turno.pacienteNombre }} | {{ turno.especialistaApellido }} {{ turno.especialistaNombre }} | {{ turno.sectorAtencion }}</span>
              <span class="spacer"></span>
              <button mat-button (click)="seleccionar(turno)" class="btn-detalles">Abrir</button>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </table>
      </mat-card-content>
    
  </mat-card>